doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', ,='', content='IE=Edge, chrome=1')
    meta(name='viewport', content='width=device-width')

    block title
      title Главная
    
    link(rel='stylesheet', type='text/css', href='assets/css/app.css')
    link(rel='stylesheet', type='text/css', href='assets/css/normalise.css')
  body
    .container
      include ./common/header

      block content
      
      include ./common/footer
      include ./common/fullScreenMenu

    script(src='js/jquery-1.11.2.min.js')
    script(src='js/main.js')
