.slider
    height: 100vh
    width: 100%
    min-height: 65rem

    position: relative
    background-color: #e3e2de
    display: flex
    overflow: hidden
    
    &_wrap
        display: flex
        margin: 0 auto
        padding: 0 4rem
        width: 90%
        position: relative
        overflow: hidden
        // transition: .3s
        // left: 0%
   
    &_item
        width: 100%
        background-color: #e3e2de
        height: 100%

        position: absolute //
        top: 0  //              
        left: 0 //
        z-index: 0  //

        display: flex
        padding: 0px 4rem
        &.active //
            position: relative //
            z-index: 1 //
        &.inslide
            z-index: 2
        @include w992
            flex-direction: column
            padding: 0 3rem
        &-left,
        &-right
            @include size(50% 100%)
            display: flex
            justify-content: center
            align-items: center
            @include w992
                width: 100%
        &-left
            @include w992
                order: 2
        &-right
            @include w992
                order: 1
                height: 40vh
    &_img
        width: 70%
        height: 70%
        overflow: hidden

    &_controls
        position: absolute
        height: 11px
        width: 100%
        margin: 0 auto
        text-align: center
        bottom: 3rem
        z-index: 20
        display: flex
        justify-content: center
        align-items: center
        label
            width: 11px
            height: 11px
            margin: 0 5px
            border: 2px solid $main-color
            background-color: #fff
            border-radius: 50%
            cursor: pointer
            
    &_nav
        @include size(100% 26px)
        position: absolute
        display: flex
        justify-content: space-between
        top: 50%
        left: 0
        z-index: 10
        padding: 0px 2.5rem
        @include w320
            padding: 0 10px
.navIcon
    @include size(2.6rem 1.6rem)
    transition: all ease-in-out .1s
    fill: $main-color
    fill-opacity: .7
    &:hover
        fill-opacity: 1
    &-left
        transform: rotate(90deg)
    &-right
        transform: rotate(-90deg)


.site
    align-self: center
    width: 30rem
    text-align: left
    margin: auto
    padding-top: 1rem
    @include w992
        width: 100%
        text-align: center
    &_text
        font: 16px/24px 'RobotoMedium', sans-serif
        text-transform: uppercase
        color: #083c96

    .content_title
        padding-bottom: 2.6rem
        margin-bottom: 2rem
        text-align: left
        @include w992
            text-align: center
        &:after
            margin-left: 0
            left: 0
            @include w992
                left: 50%
                margin-left: -45px

    &_linkBtn
        color: #fff 
        display: inline-block
        position: relative
        font: 1.6rem/4.5rem 'RobotoMedium', sans-serif
        padding: 0 2rem 0 5rem
        background-color: $main-color
        margin-top: 5.5rem
        transition: all ease-in-out .1s
        @include w992
            margin-top: 3rem
        @include w320
            margin-top: 2rem
        &:hover,
        &:active
            background-color: $darkMain-color
        .siteIcon
            @include size(2rem)
            position: absolute
            top: 1.2rem
            left: 1.5rem
            fill: #fff

input[type=radio]
    display: none

#btn-1:checked ~ .slider_controls label[for="btn-1"],
#btn-2:checked ~ .slider_controls label[for="btn-2"],
#btn-3:checked ~ .slider_controls label[for="btn-3"],
#btn-4:checked ~ .slider_controls label[for="btn-4"]
    background-color: $main-color



