.myWorksPage
    width: 100%
    min-height: 65rem
    .content
        &_title
            &::after
                background-color: rgba(71, 75, 87, .5)
        &_header
            width: 100%
            padding: 4.7rem 0
            text-align: center
            background-color: rgba(17, 17, 33, .85)
            @include w992
                padding: 3rem 0
            @include w768
                padding: 2.5rem 0
            
        &_top
            left: 0
            top: -15vh
            .triangle
                &-left
                    fill: rgba(17, 17, 33, .85)
                &-right
                    fill: rgba(17, 17, 33, .85)
    .mainTitle
        color: #fff
        @include inline-top
        padding-bottom: 2rem
        &::after
            @include pseudo
            @include size(9rem .3rem)
            bottom: 0
            left: 50%
            margin-left: -4.5rem
            background-color: #fff
            opacity: 0
            transition: all ease-in-out .4s
        &:hover
            &::after
                opacity: 1

@import "_slider"
@import "_talkAbout"
