.blockSkills
    .blockSkills_row
        h4.blockSkills_title Frontend
        .skillCounter
            .skillCounter_item HTML5
                svg.cCircle#skill-1
                    circle(r="45" cx="55" cy="55")
                    circle(r="45" cx="55" cy="55") 
            .skillCounter_item CSS3 
                svg.cCircle#skill-2
                    circle(r="45" cx="55" cy="55")
                    circle(r="45" cx="55" cy="55") 
            .skillCounter_item 
                |JavaScript
                br
                | &JQuery
                svg.cCircle#skill-3
                    circle(r="45" cx="55" cy="55")
                    circle(r="45" cx="55" cy="55") 
    .blockSkills_row
        h4.blockSkills_title Backend
        .skillCounter
            .skillCounter_item PHP
                svg.cCircle#skill-4
                    circle(r="45" cx="55" cy="55")
                    circle(r="45" cx="55" cy="55")
            .skillCounter_item mySQL
                svg.cCircle#skill-5
                    circle(r="45" cx="55" cy="55")
                    circle(r="45" cx="55" cy="55")
            .skillCounter_item
                | Node.js
                br
                | &npm

                svg.cCircle#skill-6
                    circle(r="45" cx="55" cy="55")
                    circle(r="45" cx="55" cy="55")
                        
            .skillCounter_item Mongo.db
                svg.cCircle#skill-7
                    circle(r="45" cx="55" cy="55")
                    circle(r="45" cx="55" cy="55")
    .blockSkills_row
        h4.blockSkills_title WorkFlow
        .skillCounter
            .skillCounter_item Git
                svg.cCircle#skill-8
                    circle(r="45" cx="55" cy="55")
                    circle(r="45" cx="55" cy="55")
            .skillCounter_item Gulp
                svg.cCircle#skill-9
                    circle(r="45" cx="55" cy="55")
                    circle(r="45" cx="55" cy="55")
            .skillCounter_item Bower
                svg.cCircle#skill-10
                    circle(r="45" cx="55" cy="55")
                    circle(r="45" cx="55" cy="55")