.blockSkills
	.blockSkills_row
		h4.blockSkills_title Frontend
		.skillCounter
			.skillCounter_item HTML5
				svg.cCircle#idskill-
					circle(r="45" cx="55" cy="55")
					circle(r="45" cx="55" cy="55") 
			.skillCounter_item CSS3 
				svg.cCircle#idskill-
					circle(r="45" cx="55" cy="55")
					circle(r="45" cx="55" cy="55") 
			.skillCounter_item 
				|JavaScript
				br
				| &JQuery
				svg.cCircle#idskill-
					circle(r="45" cx="55" cy="55")
					circle(r="45" cx="55" cy="55") 
	.blockSkills_row
		h4.blockSkills_title Backend
		.skillCounter
			.skillCounter_item PHP
				svg.cCircle#skill-1
					circle(r="45" cx="55" cy="55")
					circle(r="45" cx="55" cy="55")
			.skillCounter_item mySQL
				svg.cCircle#skill-2
					circle(r="45" cx="55" cy="55")
					circle(r="45" cx="55" cy="55")
			.skillCounter_item
				svg.cCircle#skill-3
					circle(r="45" cx="55" cy="55")
					circle(r="45" cx="55" cy="55")
						| Node.js
						br
						|  & npm
			.skillCounter_item Mongo.db
				svg.cCircle#skill-4
					circle(r="45" cx="55" cy="55")
					circle(r="45" cx="55" cy="55")
	.blockSkills_row
		h4.blockSkills_title WorkFlow
		.skillCounter
			.skillCounter_item Git
				svg.cCircle#scill-5
					circle(r="45" cx="55" cy="55")
					circle(r="45" cx="55" cy="55")
			.skillCounter_item Gulp
				svg.cCircle#skill-6
					circle(r="45" cx="55" cy="55")
					circle(r="45" cx="55" cy="55")
			.skillCounter_item Bower
				svg.cCircle#skill-7
					circle(r="45" cx="55" cy="55")
					circle(r="45" cx="55" cy="55")