

.blockUser.front
    .blockUser_info
        .blockUser_photo
            img(src='./assets/img/Me.png')
        h3.blockUser_title Олег Унгер
        p.blockUser_text Личный сайт веб разработчика

    include ../common/socials

    nav.blockUser_nav.nav
        ul.nav_list
            li.nav_item
                a.nav_link(href='myWorksPage.html') Мои работы
            li.nav_item
                a.nav_link(href='aboutMePage.html') Обо мне
            li.nav_item
                a.nav_link(href='blogPage.html') Блог
            