footer.pageFooter
         .pageFooter_content
            .pageFooter_contentBlock
               p.pageFooter_text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
            .pageFooter_contentBlock
               .ft-wrap
                  nav.nav
                     ul.nav_list
                        li.nav_item
                           a.nav_link(href='myWorksPage.html') Мои работы
                        li.nav_item
                           a.nav_link(href='blog.html') Блог
                        li.nav_item
                           a.nav_link(href='aboutMe.html') Обо мне
                        li.nav_item
                           a.nav_link(href='autorization.html') Авторизация
                  .socials
                     a.socials_link(href='#')
                        svg.socials_icon
                           use(xlink:href='./assets/img/sprites/sprite.svg#vk')
                           | vkontakte
                     a.socials_link(href='#')
                        svg.socials_icon
                           use(xlink:href='./assets/img/sprites/sprite.svg#github')
                        | Github
                     a.socials_link(href='#')
                        svg.socials_icon
                           use(xlink:href='./assets/img/sprites/sprite.svg#in')
                        | Instagramm
            .pageFooter_contentBlock
               .ft-wrap
                  p.pageFooter_text Skype: ungers37
                  p.pageFooter_text ounger@inbox.ru
                  p.pageFooter_text +7 921 441 66 75
                  p.pageFooter_text Санкт-Петербург
         .pageFooter_bottom
            p.pageFooter_text
               | Олег Унгер | Создано с любовью в Loftschool | 2016