.fullScreenMenu
  .overlay.overlay-left
  .overlay.overlay-right
  nav.nav
    ul.nav_list
      li.nav_item
        a.nav_link(href='myWorksPage.html') Мои работы
      li.nav_item
        a.nav_link(href='blogPage.html') Блог
      li.nav_item
        a.nav_link(href='aboutMwPage.html') Обо мне
      li.nav_item
        a.nav_link(href='index.html') Авторизация