.fullScreenMenu
      .overlay-left
      .overlay-right
      nav.nav
        ul.nav_list
          li.nav_item
            a.nav_link(href='#') Мои работы
          li.nav_item
            a.nav_link(href='#') Блог
          li.nav_item
            a.nav_link(href='about-me.html') Обо мне
          li.nav_item
            a.nav_link(href='#') Авторизация