section.headerSection#header
	.header_wrap
		header.header
			.socials
				a.socials_link(href='#') vkontakte
					svg.socials_icon
						use(xlink:href='./assets/img/sprites/sprite.svg#vk') 
				a.socials_link(href='#') Github
					svg.socials_icon
						use(xlink:href='./assets/img/sprites/sprite.svg#github') 
				a.socials_link(href='#') Instagramm
					svg.socials_icon
						use(xlink:href='./assets/img/sprites/sprite.svg#in')
			a.menuButton
				span
		.blockUser
			.blockUser_photo
				img(src='./assets/img/photo.jpg')
			h3.blockUser_title Олег Унгер
			p.blockUser_text Личный сайт веб разработчика
		a.scrollDown(href='#content')
			svg.scrollDown_icon
				use(xlink:href='./assets/img/sprites/sprite.svg#arrow_down')