section.map_section
    
        .contacts
            h3.content_title.content_title-markedDark Контакты
            ul.nav_list
                li.nav_item
                    a.nav_link(href='#') ungers37
                        svg.contacts_icon
                            use(xlink:href='./assets/img/sprite/sprite.svg#skype_n')  
                li.nav_item
                    a.nav_link(href='#') +7 921 441 66 75
                        svg.contacts_icon
                            use(xlink:href='./assets/img/sprite/sprite.svg#phone_n') 
    
                li.nav_item
                    a.nav_link(href='#') ounger@inbox.ru
                        svg.contacts_icon
                            use(xlink:href='./assets/img/sprite/sprite.svg#envelope_n')  
                li.nav_item
                    a.nav_link(href='#') Saint-Petersburg
                        svg.contacts_icon
                            use(xlink:href='./assets/img/sprite/sprite.svg#map_n') 
        include ../common/footer    