.socials
	a.socials_link(href='#')
		svg.socials_icon
			use(xlink:href='./assets/img/sprite/sprite.svg#vk')
		| vkontakte
	a.socials_link(href='#')
		svg.socials_icon
			use(xlink:href='./assets/img/sprite/sprite.svg#github')
		| Github 
	a.socials_link(href='#')
		svg.socials_icon
			use(xlink:href='./assets/img/sprite/sprite.svg#in')
		| Instagramm