.content_top
    .blockSVG
        svg.triangle.triangle-left(viewbox='0 0 300 160', preserveaspectratio='none')
            polygon(points='0,160 0,0 300,160')
    .blockSVG
        svg.triangle.triangle-right(viewbox='0 0 300 160', preserveaspectratio='none')
            polygon(points='0,160 300,0 300,160')