
html
    font-size: 10px
    @include w480
        font-size: 8.75px
    
body
    width: 100%
    position: relative
    margin: 0 auto
    height: 100%
    font: 1.6rem/2.4rem 'RobotoRegular', sans-serif
    background-image: url('../img/bg-beacon.jpg')
    background-position: 60% 99%
    background-size: 2315px 1520px
    background-repeat: no-repeat
    background-attachment: fixed
*   
    box-sizing: border-box

h2
    font: 400 6.3rem/6.8rem 'Sansus', sans-serif
    margin: 0
    @include w992
        font-size: 4.9rem

h3
    font: 400 3.5rem/4.1rem 'Sansus', sans-serif
    margin: 0
    @include w992
        font-size: 3.0rem
        line-height: 3.6rem
h4
    font: 2.5rem/3.2rem 'RobotoMedium', sans-serif
    margin: 0
    @include w768
        font-size: 2.1rem
        line-height: 2.8rem
p
    margin: 0

ul
    list-style: none
    padding: 0
    margin: 0

a
    text-decoration: none

.section
    width: 100%

.icon_arrow
    @include size(26px 16px)
    position: relative
    opacity: 0.7
    &::before,
    &::after
        @include size(7px 21px)
        @include pseudo
        background-color: $main-color
        border-radius: 2px
    &::before
        transform: rotate(45deg)
        top: -.2rem
        left: 15px
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16)
    &::after
        transform: rotate(-45deg)
        top: -2px
        left: 4px
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16)

.container
    display: flex
    min-height: 100vh
    flex-direction: column
    width: 100%
    min-width: 32rem
    margin: 0 auto

    
   
   
