.parallax
    @include size(100%)
    position: absolute
    background-image: url('../img/bg-blue.jpg')
    background-size: cover
.header_wrap
    min-height: 650px
    width: 100%
    height: 100vh
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    padding-bottom: 7rem
    justify-content: space-between
    @include w992
        padding-bottom: 5rem
.bgvideo
    position: absolute
    left: -20px
    top: -200px
    min-width: 105%
    min-height: 100%
    z-index: 0
.layer-2,
.layer-1,
.layer-0
    @include size(100%)
    position: absolute
    left: 0
    top: 0

.layer-0
    img
        @include size(100%) 
.layer-1
    @include size(100%)
    // background-color: green
    // #bgvideo
    //     height: 100%
    //     margin-left: -20px    
.layer-2 
    @include size(100% 100vh)
    img
        width: 3600px
        height: 700px
        position: absolute
        bottom: 0
        left: 50%
        margin-left: -1800px
        margin-bottom: -250px
    
    
.headerSection
    padding-bottom: 185px
    min-height: 650px
    position: relative
    overflow: hidden
    // background-image: url('../img/bg-blue.jpg')
    // background-size: cover
    .starsWrap
        @include size(286px 169px)
        transform: translateX(-50%)
        left: 50%
    .starsIcon
        width: 100%
        height: 100%
        fill: #fff
        stroke: #fff
        opacity: .3
.header
    padding: 30px
    width: 100%
    display: flex
    justify-content: space-between
    @include w320
        padding: 10px
    
    
.menuButton
    position: relative
    width: 4rem
    height: 3.5rem
    cursor: pointer
    z-index: 45
    
    span,
    span::before,
    span::after
        position: absolute
        content: ""
        width: 4rem
        height: .5rem
        border-radius: .3rem
        background-color: #FFF
        transition: all 500ms ease-in-out
    span
        top: 1.5rem  
        &::before
            top: -1.5rem
        &::after
            bottom: -1.5rem
    &.active
        span
            background: transparent
    &.active 
        span::before,
        span::after
            top: 0
    &.active
        span::before
            transform: rotate(45deg)
    &.active
        span::after
            transform: rotate(-45deg)



.scrollDown
    text-align: center
    display: block
    z-index: 2
    @include size(26px 16px)
    &_icon
        @include size(26px 16px)
        fill: #fff
        fill-opacity: .7
        transition: all ease-in-out .1s
        &:hover
            fill-opacity: 1


              
    