.header_wrap
    min-height: 650px
    width: 100%
    height: 100vh
    display: flex
    flex-direction: column
    align-items: center
    padding-bottom: 75px
    position: relative
    justify-content: space-between
.headerSection
    padding-bottom: 185px
    background-image: url('../img/bg.jpg')
    background-repeat: no-repeat
    background-position: 50% 75%
    background-size: 3600px 2400px
    
.header
    padding: 30px
    width: 100%
    display: flex
    justify-content: space-between
    
.menuButton
    position: relative
    width: 40px
    height: 35px
    cursor: pointer
    z-index: 5
    
    span,
    span::before,
    span::after
        position: absolute
        content: ""
        width: 40px
        height: 5px
        border-radius: 3px
        background-color: #FFF
        transition: all 500ms ease-in-out
    span
        top: 15px    
        &::before
            top: -15px
        &::after
            bottom: -15px
    &.active
        span
            background: transparent
    &.active 
        span::before,
        span::after
            top: 0
    &.active
        span::before
            transform:rotate(45deg)
    &.active
        span::after
            transform:rotate(-45deg)



.scrollDown
    text-align: center
    display: block
    z-index: 2
    @include size(26px 16px)
    &_icon
        @include size(26px 16px)
        fill: #fff
        fill-opacity: .7
        transition: all ease-in-out .1s
        &:hover
            fill-opacity: 1


               
    