extends ../_template

block title
   title Blog

block content

   section#content.content.blog
      include ../common/triangles
      .blog_wrap
         aside.blog_nav
            nav.nav
               ul.nav_list
                  li.nav_item
                     a.nav_link(href="#").active
                        | Самое важное в SASS
                  li.nav_item
                     a.nav_link(href="#")
                        | Приемы в верстке, без которых
                        | не обходится ни один сайт
                  li.nav_item
                     a.nav_link(href="#")
                        | Самый необходимый набор Gulp
                        | плагинов
                  li.nav_item
                     a.nav_link(href="#")
                        | Почему я выбрал PUG
         main.blog_content
            .blog_article#article-1
               h3.content_title Самое важное в SASS
               span.blog_date 22 ноября 2016
               p.content_text
                  | Таким образом начало повседневной работы по формированию позиции
                  | позволяет выполнять важные задания по разработке направлений прогрессивного
                  | развития. Разнообразный и богатый опыт новая модель организационной деятельности
                  | играет важную роль в формировании новых предложений. Товарищи! новая модель
                  | организационной деятельности играет важную роль в формировании систем массового участия.
               p.content_text
                  | Не следует, однако забывать, что укрепление и развитие структуры обеспечивает
                  | широкому кругу (специалистов) участие в формировании систем массового участия.
                  | Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает
                  | широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками
                  | в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера
                  | нашей активности способствует подготовки и реализации модели развития. С другой стороны
                  | рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров,
                  | соответствует насущным потребностям.
               .codeExemple
            .blog_article#article-2
               h3.content_title Приёмы в вёрстке, без которых не обходится ни один сайт
               span.blog_date 13 ноября 2016
               p.content_text
                  | Таким образом начало повседневной работы по формированию позиции позволяет выполнять
                  | важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый
                  | опыт новая модель организационной деятельности играет важную роль в формировании новых
                  | предложений. Товарищи! новая модель организационной деятельности играет важную роль в
                  | формировании систем массового участия.
               p.content_text
                  | Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому
                  | кругу (специалистов) участие в формировании систем массового участия. Идейные соображения
                  | высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу
                  | (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных
                  | задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки
                  | и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой
                  | процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.


               


   
