.blockSkills
    max-width: 560px
    display: flex
    flex-direction: column
    justify-content: flex-start
    margin-top: 3.5rem
    &_row:not(:last-child)
        margin-bottom: 2.5rem
    @include w992
        align-items: center
    @include w768
        margin-top: 15px
    &_title
        text-align: left
        margin-bottom: 1.5rem
        color: $dark
        @include w992
            text-align: center
    .skillCounter
        display: flex
        justify-content: flex-start
        flex-wrap: wrap
        @include w992
            display: flex
            align-items: center
            justify-content: center
        &_item
            @include size(110px)
            position: relative
            font: 1.2rem/1.5rem 'RobotoMedium', sans-serif
            text-align: center
            color: #243994 
            margin: 0 3.5rem 3rem 0
            display: flex
            align-items: center
            justify-content: space-around
            
            &:last-child
                @media (min-width: 992px)
                    margin-right: 0
            @include w992
                margin: 0 1.5rem 3rem  
        
    .cCircle
        @include size(110px)
        position: absolute
        top: 0
        left: 0
        fill: none
        stroke-width: 20
        circle:nth-child(1)
            stroke: #dfdcd5
            fill: none
        circle:nth-child(2)
            stroke: $main-color
            stroke-dasharray: 162
            stroke-dashoffset: 762
            transition: all 1s
