.map_wrap
    display: flex
    justify-content: center
    align-items: center
    min-height: 65rem
    height: 100vh
.map_section
    padding-bottom: 18.5rem
    background: #eae8e2 url('../img/map.png') no-repeat
    background-size: cover
    
.contacts
    padding: 3rem 1rem 0
    max-width: 58rem
    background-color: rgba(255,255,255, .7)
        
    .nav
        &_list
            display: flex
            flex-wrap: wrap
            justify-content: flex-start
            width: 100%
            margin-top: 3.8rem
        &_item
            margin-bottom: 3rem
        &_link
            position: relative
            color: $dark
            font: 1.6rem/2.4rem 'RobotoMedium', sans-serif
            text-decoration: none
            display: block
            padding: 1.1rem 1rem 1.1rem 6.5rem
            width: 28rem
            &:hover
                .contacts_icon
                    fill: $darkMain-color
    &_icon
        @include size(4.6rem 4.5rem)
        position: absolute
        top: 0
        left: 1rem
        fill: $main-color
        transition: all ease-in-out .1s
            
