.aboutMePage
    min-height: 65rem
    width: 100%
    
    .mainTitle
        float: left
        margin-bottom: 3rem 
    .content
        &_wrapper
            @include size(100%)
            display: flex
            flex-direction: row
            flex-wrap: wrap
        &-left
            // padding: 2rem 3rem 2.5rem
            background-color:  #f2f0e8  
        &-right
            // padding: 1rem 3rem 2.5rem
            background-color: #f4f5f0
            .content_title
                margin-bottom: 3.5rem
        &_top
            top: -17rem
            .triangle
                &-left
                    fill: #f2f0e8
                &-right
                    fill: #f4f5f0
        &_item
            width: 50%
            display: flex
            padding: 1rem 3rem
            flex-direction: column
            align-items: center
            justify-content: centr
            position: relative
            overflow: hidden

        &_text
            text-align: left    
        
.introduce
    @include text-truncate
    max-width: 44rem
    &_photo
        @include size(44.3rem 39rem)
        margin-bottom: 30px
        background: white
        overflow: hidden


@import "_map"
@import "_blockSkills"

